# K Nearest Neighbor 

## Research Question: 
#### Predict whether a stop and search would conclude in police action.

#### In this notebook we attempt to answer the research question using the K nearest neighbor model (KNN). The goal is to classify the data by police action, given the features in our data set (https://www.kaggle.com/sohier/london-police-records?select=london-stop-and-search.csv)

We import the libraries

In [5]:
import pandas as pd

We import the dataset. It is "london-stop-and-search.csv", retrieved from Kaggle (https://www.kaggle.com/sohier/london-police-records?select=london-stop-and-search.csv), then cleaned by having some columns removed ("part of police operation", "police operation", and "self-defined ethnicity").

In [10]:
data = pd.read_csv("data.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302623 entries, 0 to 302622
Data columns (total 12 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Type                                      302623 non-null  object
 1   Date                                      302623 non-null  object
 2   Latitude                                  110615 non-null  float64
 3   Longitude                                 110615 non-null  float64
 4   Gender                                    299453 non-null  object
 5   Age range                                 288579 non-null  object
 6   Officer-defined ethnicity                 298958 non-null  object
 7   Legislation                               302623 non-null  object
 8   Object of search                          216156 non-null  object
 9   Outcome linked to object of search        1206 non-null    object
 10  Removal of more than just outer clothing  2789 non-null    object
 11  Outcome                                   302623 non-null  object
dtypes: float64(2), object(10)
memory usage: 27.7+ MB
None

The columns "Type", "Date", "Gender", "Age Range", "Officer-defined Ethnicity", "Legislation", "Object of Search", and "Outcome" are type object. So null values for those columns cannot be replaced by a mean. However, Latitude and Longitude are floats, so we will replace null values with the mean.